/*
File: 		style.css
Purpose:	Contains all external css for project. If multiple css files are created, edit this purpose.
*/

.outputSig	{
		margin-right:20px;
	}

body {background-color:Silver;}

h1 {text-shadow: 5px 5px 5px #0033FF;
font-size: 60px;}
